* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #833ab4;
  background: linear-gradient(
    303deg,
    rgba(131, 58, 180, 1) 9%,
    rgba(247, 27, 27, 1) 45%,
    rgba(252, 176, 69, 1) 91%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
